@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
}

/* END body*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: 1306px;
}

.container--paddings {
  padding-top: 150px;
  padding-bottom: 75px;
  border-bottom: 1px solid #ededed;
}

.container__header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
  width: 100%;
  max-width: 935px;
  text-align: center;
  letter-spacing: 0.02em;
}

.container__header-small-paddings {
  margin-bottom: 57px;
}

.container__title {
  padding-bottom: 16px;
  font-size: 50px;
  color: #4a4a4a;
  line-height: 1;
}

.container__small-subtext {
  line-height: 25px;
  color: #757575;
}

.container__subtext {
  font-size: 20px;
  line-height: 25px;
  color: #616161;
}

.container--wide {
  max-width: 1630px;
}

.container--border-none {
  border-bottom: none;
}

/* END container */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 520px 1fr auto;
      grid-template-columns: 520px 1fr auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #8795a9;
}

.header__nav {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.header__address {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.header__tel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16px auto;
      grid-template-columns: 16px auto;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  font-style: normal;
}

.header__tel::before {
  content: "";
  display: block;
  margin-top: 10px;
  width: 16px;
  height: 16px;
  background-image: url("../img/header__phone.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/* END header */
.nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  grid-column-gap: 25px;
}

.nav__item a {
  -webkit-transition: -webkit-text-decoration 0.2s linear;
  transition: -webkit-text-decoration 0.2s linear;
  -o-transition: text-decoration 0.2s linear;
  transition: text-decoration 0.2s linear;
  transition: text-decoration 0.2s linear, -webkit-text-decoration 0.2s linear;
}

.nav__item a:hover {
  text-decoration: underline;
}

/* END nav */
.intro {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #7c7b7b;
}

.intro::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: url(/img/intro__bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  opacity: 0.15;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.intro__body {
  position: relative;
  padding-bottom: 114px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__title {
  margin-bottom: 14px;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  line-height: 1;
}

.intro__subtext {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.intro__footer {
  position: absolute;
  left: 161px;
  bottom: 59px;
  padding-left: 65px;
  width: 183px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.intro__footer::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  background-image: url(../img/intro__btn.png);
}

.intro__footer b {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

/* END intro */
.btn {
  width: 225px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #fbad27;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  border: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn--center {
  margin-left: auto;
  margin-right: auto;
}

.btn--white-border {
  border: 2px solid #ffffff;
}

.btn:hover {
  background-color: #e4ac4a;
}

.btn--white-border:hover {
  background-color: #ffffff;
  color: #fbad27;
}

/* END btn */
.welcome__list {
  padding-top: 40px;
  padding-bottom: 170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 930px;
}

.welcome__item {
  padding: 25px;
  width: 100%;
  max-width: 263px;
}

.welcome__img {
  margin-bottom: 25px;
}

.welcome__title {
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #4a4a4a;
}

.welcome__text {
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #757575;
}

/* END welcome */
.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 86px;
  height: 24px;
}

.controls__circle {
  width: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls__btn {
  padding: 0;
  width: 14px;
  height: 14px;
  background-color: #999999;
  border: 3px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 1px #999999;
          box-shadow: 0 0 0 1px #999999;
  outline: none;
}

.controls__btn:hover, .controls__btn--active {
  width: 24px;
  height: 24px;
  background-color: #fbad27;
  border-width: 4px;
  -webkit-box-shadow: 0 0 0 1px #fbad27;
          box-shadow: 0 0 0 1px #fbad27;
}

/* END controls */
.find__form {
  margin-bottom: 82px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.find__image-search {
  margin-right: 7px;
  padding-left: 185px;
}

.find__input-text {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #4a4a4a;
  border: none;
}

.find__input-text:focus {
  outline-color: #fbad27;
}

.find__slider-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.find__slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 44px;
  width: 100%;
  max-width: 1276px;
}

.find__arrow {
  padding-left: 30px;
  background-color: transparent;
  border: none;
}

.find__arrow--left {
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

.find__arrow--right {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.find__arrow:hover .find__svg {
  fill: #fbad27;
}

.find__svg {
  display: block;
  fill: #b8b8b8;
  cursor: pointer;
  -webkit-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.find__item {
  position: relative;
  background-color: #757575;
}

.find__item:hover .find__img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.find__img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  -o-transition: filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}

.find__title {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 24px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* END find */
.blog__grid {
  margin-bottom: 122px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 554px 286px 286px;
      grid-template-columns: 554px 286px 286px;
  -ms-grid-rows: 207px 247px 34px 247px;
      grid-template-rows: 207px 247px 34px 247px;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
  width: 100%;
  height: auto;
}

.blog__big-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.blog__vertical-article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__vertical-article--first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.blog__vertical-article--second {
  grid-row: 2/-1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  padding-top: 75px;
}

.blog__small-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__small-img--first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: -1/-2;
}

.blog__small-img--second {
  padding-top: 40px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.blog__horizontall-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(auto, 277px);
      grid-template-columns: 1fr minmax(auto, 277px);
  padding-top: 40px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.blog__article-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__img-wrapper-height {
  height: 100%;
  max-height: 207px;
}

.blog__img-wrapper-width {
  width: 100%;
  max-width: 277px;
}

.blog__img-wrapper-left {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.blog__text-wrapper {
  padding: 23px 45px;
}

.blog__text-wrapper-horizontal {
  padding: 20px 27px 14px 33px;
}

.blog__title {
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #4a4a4a;
}

.blog__title--padding-right {
  padding-right: 7px;
}

.blog__text {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #757575;
}

/* END blog */
.testimonials {
  padding-bottom: 86px;
}

.testimonials__slider--container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.testimonials__quote {
  opacity: 0.1;
  margin-right: 50px;
}

.testimonials__quote--right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-align-self: end;
      -ms-flex-item-align: end;
              -ms-grid-row-align: end;
          align-self: end;
  margin-right: 0;
  margin-left: 50px;
}

.testimonials__figure {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 67px;
  padding: 36px 29px 45px 42px;
  width: 100%;
  max-width: 809px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #616161;
}

.testimonials__img {
  margin-right: 41px;
  width: 100%;
  height: 100%;
  max-width: 179px;
  max-height: 187px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #b2b2b2;
  -webkit-box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.testimonials__quote-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
}

.testimonials__author {
  display: block;
  font-weight: 700;
  color: #fbad27;
  font-style: normal;
}

.testimonials__place {
  font-style: normal;
  display: block;
  font-size: 14px;
}

/* END testimonials */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* END visually-hidden */
.subscribe {
  background-color: #fbad27;
  padding-top: 104px;
  padding-bottom: 102px;
}

.subscribe__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__text {
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* END subscribe */
.footer {
  margin-top: 247px;
  margin-bottom: 78px;
}

.footer__top {
  margin-bottom: 56px;
  padding-bottom: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
}

.footer__title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #4a4a4a;
}

.footer__list-item {
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #616161;
}

.footer__list-item--social {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #616161;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.footer__list-item--social:hover {
  background-color: #fbad27;
}

.footer__address {
  width: 150px;
}

.footer__contacts {
  width: 185px;
}

.footer__contacts a {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.footer__contacts a:hover {
  color: #fbad27;
}

.footer__list--flex {
  margin-top: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link--social {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__follow {
  width: 116px;
}

.footer__svg {
  fill: #ffffff;
}

.footer__copyrights {
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #616161;
}
