@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$base-white:#ffffff;
$base-black1:#4a4a4a;
$base-gray1:#757575;
$base-gray2: #616161;
$base-orange:#fbad27;
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $base-gray1;
    font-size: 16px;
}


/* END body*/

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1306px;
    &--paddings {
        padding-top: 150px;
        padding-bottom: 75px;
        border-bottom: 1px solid #ededed;
    }
    &__header {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 130px;
        width: 100%;
        max-width: 935px;
        text-align: center;
        letter-spacing: 0.02em;
    }
    &__header-small-paddings {
        margin-bottom: 57px;
    }
    &__title {
        padding-bottom: 16px;
        font-size: 50px;
        color: $base-black1;
        line-height: 1;
    }
    &__small-subtext {
        line-height: 25px;
        color: $base-gray1;
    }
    &__subtext {
        font-size: 20px;
        line-height: 25px;
        color: $base-gray2;
    }
    &--wide {
        max-width: 1630px;
    }
    &--border-none {
        border-bottom: none;
    }
}


/* END container */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: $base-white;
    &__inner {
        display: grid;
        grid-template-columns: 520px 1fr auto;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #8795a9;
    }
    &__nav {
        grid-column-start: 1;
    }
    &__address {
        grid-column-start: 3;
    }
    &__tel {
        display: grid;
        grid-template-columns: 16px auto;
        grid-column-start: 2;
        column-gap: 11px;
        font-style: normal;
    }
    &__tel::before {
        content: "";
        display: block;
        margin-top: 10px;
        width: 16px;
        height: 16px;
        background-image: url("../img/header__phone.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/* END header */

.nav {
    &__list {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-column-gap: 25px;
    }
    &__item {
        a {
            transition: text-decoration 0.2s linear;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}


/* END nav */

.intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #7c7b7b;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        background: url(/img/intro__bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.15;
        filter: blur(2px);
    }
    &__body {
        position: relative;
        padding-bottom: 114px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin-bottom: 14px;
        font-size: 72px;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: $base-white;
        line-height: 1;
    }
    &__subtext {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $base-white;
    }
    &__footer {
        position: absolute;
        left: 161px;
        bottom: 59px;
        padding-left: 65px;
        width: 183px;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: $base-white;
        border: none;
        background-color: transparent;
        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            content: "";
            display: block;
            width: 55px;
            height: 55px;
            background-image: url(../img/intro__btn.png);
        }
        b {
            display: block;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}


/* END intro */

.btn {
    width: 225px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: $base-white;
    background-color: $base-orange;
    border-radius: 24px;
    border: none;
    transition: all 0.2s linear;
    &--center {
        margin-left: auto;
        margin-right: auto;
    }
    &--white-border {
        border: 2px solid #ffffff;
    }
    &:hover {
        background-color: #e4ac4a;
    }
    &--white-border:hover {
        background-color: $base-white;
        color: $base-orange;
    }
}


/* END btn */

.welcome {
    &__list {
        padding-top: 40px;
        padding-bottom: 170px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 930px;
    }
    &__item {
        padding: 25px;
        width: 100%;
        max-width: 263px;
    }
    &__img {
        margin-bottom: 25px;
    }
    &__title {
        margin-bottom: 17px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $base-black1;
    }
    &__text {
        line-height: 25px;
        letter-spacing: 0.02em;
        color: $base-gray1;
    }
}


/* END welcome */

.controls {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    width: 86px;
    height: 24px;
    &__circle {
        width: 24px;
        display: flex;
        justify-content: center;
    }
    &__btn {
        padding: 0;
        width: 14px;
        height: 14px;
        background-color: #999999;
        border: 3px solid $base-white;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 0 1px #999999;
        outline: none;
    }
    &__btn:hover,
    &__btn--active {
        width: 24px;
        height: 24px;
        background-color: $base-orange;
        border-width: 4px;
        box-shadow: 0 0 0 1px $base-orange;
    }
}


/* END controls */

.find {
    &__form {
        margin-bottom: 82px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image-search {
        margin-right: 7px;
        padding-left: 185px;
    }
    &__input-text {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: $base-black1;
        border: none;
    }
    &__input-text:focus {
        outline-color: $base-orange;
    }
    &__slider-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__slider {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 44px;
        width: 100%;
        max-width: 1276px;
    }
    &__arrow {
        padding-left: 30px;
        background-color: transparent;
        border: none;
    }
    &__arrow--left {
        transform: scale(-1);
    }
    &__arrow--right {
        order: 1;
    }
    &__arrow:hover &__svg {
        fill: $base-orange;
    }
    &__svg {
        display: block;
        fill: #b8b8b8;
        cursor: pointer;
        transition: fill 0.2s linear;
    }
    &__item {
        position: relative;
        background-color: #757575;
    }
    &__item:hover &__img {
        filter: blur(3px);
    }
    &__img {
        width: 100%;
        height: 100%;
        max-height: 400px;
        object-fit: cover;
        transition: filter 0.2s linear;
    }
    &__title {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
        line-height: 25px;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: $base-white;
    }
}


/* END find */

.blog {
    &__grid {
        margin-bottom: 122px;
        display: grid;
        grid-template-columns: 554px 286px 286px;
        grid-template-rows: 207px 247px 34px 247px;
        column-gap: 75px;
        width: 100%;
        height: auto;
    }
    &__big-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-row: 1/span 2;
        grid-column: 1/2;
    }
    &__vertical-article {
        display: flex;
        flex-direction: column;
    }
    &__vertical-article--first {
        grid-row: 1/span 2;
        grid-column: 2/3;
    }
    &__vertical-article--second {
        grid-row: 2/-1;
        grid-column: 3/4;
        padding-top: 75px;
    }
    &__small-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__small-img--first {
        grid-row: 1/2;
        grid-column: -1/-2;
    }
    &__small-img--second {
        padding-top: 40px;
        grid-row: 4/5;
        grid-column: 2/3;
    }
    &__horizontall-article {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 277px);
        padding-top: 40px;
        grid-row: 4/5;
        grid-column: 1/2;
    }
    &__article-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__img-wrapper-height {
        height: 100%;
        max-height: 207px;
    }
    &__img-wrapper-width {
        width: 100%;
        max-width: 277px;
    }
    &__img-wrapper-left {
        order: 1;
    }
    &__text-wrapper {
        padding: 23px 45px;
    }
    &__text-wrapper-horizontal {
        padding: 20px 27px 14px 33px;
    }
    &__title {
        margin-bottom: 18px;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: $base-black1;
    }
    &__title--padding-right {
        padding-right: 7px;
    }
    &__text {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: $base-gray1;
    }
}


/* END blog */

.testimonials {
    padding-bottom: 86px;
    &__slider--container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    &__quote {
        opacity: 0.1;
        margin-right: 50px;
    }
    &__quote--right {
        transform: rotate(180deg);
        align-self: end;
        margin-right: 0;
        margin-left: 50px;
    }
    &__figure {
        position: relative;
        display: flex;
        margin-bottom: 67px;
        padding: 36px 29px 45px 42px;
        width: 100%;
        max-width: 809px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: $base-gray2;
    }
    &__img {
        margin-right: 41px;
        width: 100%;
        height: 100%;
        max-width: 179px;
        max-height: 187px;
        object-fit: cover;
        background-color: #b2b2b2;
        box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.07);
        border-radius: 8px;
    }
    &__quote-wrapper {
        display: grid;
        grid-template-rows: 1fr min-content;
    }
    &__author {
        display: block;
        font-weight: 700;
        color: $base-orange;
        font-style: normal;
    }
    &__place {
        font-style: normal;
        display: block;
        font-size: 14px;
    }
}


/* END testimonials */

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* END visually-hidden */

.subscribe {
    background-color: $base-orange;
    padding-top: 104px;
    padding-bottom: 102px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 40px;
        letter-spacing: 0.02em;
        color: $base-white;
    }
}


/* END subscribe */

.footer {
    margin-top: 247px;
    margin-bottom: 78px;
    &__top {
        margin-bottom: 56px;
        padding-bottom: 52px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e4e4e4;
    }
    &__section {}
    &__about {}
    &__title {
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $base-black1;
    }
    &__list {}
    &__list-item {
        line-height: 25px;
        letter-spacing: 0.02em;
        color: $base-gray2;
    }
    &__list-item--social {
        position: relative;
        width: 32px;
        height: 32px;
        background-color: $base-gray2;
        border-radius: 50%;
        transition: background-color 0.2s linear;
    }
    &__list-item--social:hover {
        background-color: $base-orange;
    }
    &__address {
        width: 150px;
    }
    &__contacts {
        width: 185px;
        a {
            transition: color 0.2s linear;
        }
        a:hover {
            color: $base-orange;
        }
    }
    &__list--flex {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
    }
    &__link {}
    &__link--social {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
    }
    &__follow {
        width: 116px;
    }
    &__svg {
        fill: $base-white;
    }
    &__copyrights {
        text-align: center;
        font-size: 15px;
        letter-spacing: 0.02em;
        color: $base-gray2;
    }
}